


_bwrap() {
bwrap --tmpfs / \
        --clearenv \
        --setenv PATH $PATH:$(go env GOROOT)/bin \
        --ro-bind "$TEST_DIR_ALPN_OS"/bin /bin \
        --ro-bind "$TEST_DIR_ALPN_OS"/etc /etc \
        --ro-bind "$TEST_DIR_ALPN_OS"/lib /lib \
        --ro-bind "$TEST_DIR_ALPN_OS"/sbin /sbin \
        --bind "$TEST_DIR_ALPN_OS"/usr /usr \
        --ro-bind "$(go env GOROOT)" "$(go env GOROOT)" \
        --dir /tmp --proc proc --dev dev --dir /run \
        --bind $BASE_DIR $BASE_DIR --chdir $BASE_DIR \
        --bind $REDO_CACHE_ALPN_FOLDER $BASE_DIR/.redo \
        --bind $TEST_DIR_BUILD $BASE_DIR/p \
        --setenv GOPROXY https://proxy.devit.trout.software,https://proxy.golang.org \
        --setenv GONOSUMDB trout.software \
        --setenv GOMODCACHE /go/mods \
        --setenv GOCACHE /go/cache \
        --bind "$TEST_DIR_ALPN_OS"/srv /srv \
    "$@"
}


_build_port() {
  _bwrap --bind "$local" /usr/local \
                sh <<EOF
set -xe
/opt/go/bin/go build -o /usr/local/bin/zmod trout.software/cyberos/dist/tools/zmod
EOF
  _bwrap --bind "${src}" /ports \
                --bind "${local}" /usr/local \
                sh
}
