Package: snort-trout
Version: 3.7.2-trout~1
Architecture: amd64
Depends: libhwloc15, libdumbnet1, libluajit-5.1-2, libpcap0.8t64, libpcre3
Maintainer: "Trout Packaging Team <pkg@trout.software>"
Vcs-Git: https://github.com/TroutSoftware/snort-modules
Description: Snort Open Source Intrusion Prevention System (IPS)
 This build includes the upstream snort build, as well as Trout module.
